.chiikomas-empty {
  margin-top: 150px;
}

.empty-sentence {
  margin-top: 10px;
}

.card-section {
  margin-top: 30px;
}

.card-body {
  display: flex;
  border-style: solid;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 5px;
  background: #FFF2EB;
  border-color: #F58276;
}

.icon {
 color: red;
}

.card-title {
  width: 80%;
  margin-left: 8px;
}

a {
  color: #d0493b;
}

.card-point {
  margin: 0 20px 0 auto;
  color: #d0493b;
}

.new-chiikoma-button-section {
  @media (max-width: 767.98px) {
    position: fixed;
    bottom: 6rem;
    right: 2rem;
  }
}

.button.new-chiikoma-btn {
  @media (max-width: 767.98px) {
    font-size: 28px;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  width: 90%;
  margin-bottom: 30px;
  margin-left: 22px;
  color: #fff;
  background-color: #f54667;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  align-items: center;
  display: none;
}

.modal.is_active {
  display: flex;
}

.modal_wrap {
  text-align: right;
  height: 70%;
  margin: 0 auto;
  padding: 20px;
  z-index: 10000;
  position: relative;
  max-width: 480px;
  width: calc(100% - 32px);
}

.modal_inner {
  background-color: #FFF;
  text-align: left;
  padding: 24px;
  border: 10px solid rgba(158, 156, 156, 0.7); ;
  background-clip: padding-box;
}

h1 {
  font-size: 20px;
  margin-top: 10px;
  @media (max-width: 767.98px) {
    font-size: 15px;
  }
}

.message-body {
  background-color: #FFF2EB;
  margin-top: 20px;
  font-size: 15px;
  width: 380px;
  color: #F58276;
  border-color: #F58276;

  @media (max-width: 767.98px) {
 
    font-size: 20px;
  }
}

.add-btn {
  color: #fff;
  background: 	#F54866;
  font-weight: 500;
  &:hover {
    color: #fff;
  }
}

.close-btn {
  color: #646564;
  background: #DCDADB;
  font-weight: 500;
  &:hover {
    color: #fff;
  }
}


.page-tools {
  margin-top: 20px;
}

.tabs .active {
  background-color: #F54767;
  cursor: auto;
  color: #fff;
  font-weight: 700;
  border: solid 1px #F54767;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-btn {
  display: block;
  text-decoration: none;
  background-color: #FFF2EB;
  border-color: #F58276;
  color: #F58276;
  text-align: center;
  white-space: nowrap;
  width: 7rem;
  transition: all 0.2s ease-out;
}
