.chiikomas-empty {
  margin-top: 150px;
}

.empty-sentence {
  margin-top: 10px;
}

.page-tools {
  margin-top: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-btn {
  display: block;
  text-decoration: none;
  background-color: #fff;
  border-color: #cac9c9;
  color: #aaa;
  text-align: center;
  white-space: nowrap;
  width: 7rem;
  transition: all 0.2s ease-out;
}

.tab-btn.active {
  background-color: #F54767;
  cursor: auto;
  color: #fff;
  font-weight: 700;
  border: solid 1px #F54767;
}

.card-section {
  margin-top: 30px;
}

.card-body {
  display: flex;
  border-style: solid;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 5px;
  background: #FFF2EB;
  border-color: #F58276;
}

.card-body2 {
  display: flex;
  border-style: solid;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 5px;
  background: #E9F5EB;
  border-color: #699F5F;
}

.icon {
  color: #699F5F;
}

.card-title {
  width: 80%;
  margin-left: 8px;
}

a {
  color: #d0493b;
}

.card-detail {
  color: #699F5F;
}

.card-point {
  margin: 0 20px 0 auto;
  color: #d0493b;
}

.card-point2 {
  margin: 0 20px 0 auto;
  color: #699F5F;
}

.new-chiikoma-button-section {
  @media (max-width: 767.98px) {
    position: fixed;
    bottom: 6rem;
    right: 2rem;
  }
}

.button.new-chiikoma-btn {
  color: #fff;
  background-color: #f54667;
  @media (max-width: 767.98px) {
    font-size: 28px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  @include tablet {
    width: 320px;
    margin: 0 auto 30px;
    display: block;
  }
 
}

.vm--modal {
  background-color: #FFF;
  border: 10px solid rgba(158, 156, 156, 0.7);
  background-clip: padding-box;
}

.daily-modal-body {
  margin-top: 30px;
  padding: 5px 25px;

  @media (max-width: 767.98px) {
    margin-top: 10px;
  }
}

.modal-message-section {
  justify-content: center;
  padding: 5px 25px;

  @media (max-width: 767.98px) {
    padding: 0;
  }
}

h1 {
  font-size: 20px;
  margin-top: 10px;

  @media (max-width: 767.98px) {
    font-size: 15px;
  }
}

.message-title {
  background-color: #FFF2EB;
  margin-top: 20px;
  font-size: 20px;
  color: #d0493b;
  border-color: #d0493b;
  border: 1px solid;
  padding: 15px;
  border-radius: 5px;

  @media (max-width: 767.98px) {

    font-size: 15px;
  }
}

.modal_button_wrapper {
  text-align: center;
  margin-top: 20px;

  @media (max-width: 767.98px) {
    margin-top: 10px;
  }
}

.add-btn {
  color: #fff;
  background: #F54866;
  font-weight: 500;
  margin-right: 10px;

  &:hover {
    color: #fff;
  }
}

.close-btn {
  color: #646564;
  background: #DCDADB;
  font-weight: 500;

  &:hover {
    color: #646564;
  }
}

.button-text {
  @include mobile {
    display: none;
  }
}
