.primary-section {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-item {
  height: 200px;
  width: 90%;
  max-width: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DCF0F9;
  border-radius: 10px;

  @include mobile {
    height: 150px;
    width: 80%;
    max-width: 480px;
  }
}

.primary-text {
  text-align: center;
  font-size: 22px;
  color: #1939A9;

  @include mobile {
    font-size: 16px;
  }
}

.list-section {
  display: flex;
  margin: 50px 0 30px 0;
  padding: 10px 0;
}

.list-text {
  margin-left: 40px;
  font-size: 18px;
}

.list-item {
  font-size: 18px;
  width: 50px;
  height: 60px;
  margin: 0 40px 0 auto;
  color: #1939A9;
  font-weight: 600;
}

.list-point {
  background-color: #DCF0F9;
  border-radius: 10px;
  text-align: center;
}

.list-date-item {
  margin: 0 40px 0 auto;
  text-align: center;
  font-weight: 600;
}

.modal-body {
  margin-top: 30px;
  padding: 5px 25px;

  @include mobile {
    margin-top: 30px;
  }
}

.modal-title {
  margin-top: 10px;
}

.message-section {
  align-items: center;
  justify-content: center;
  padding: 5px 25px;
}

.caution-message {
  margin-top: 10px;
  font-size: 10px;
  color: grey;

  @include mobile {
    font-size: 3px;
  }
}
