.primary-section {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.primary-item {
  height: 200px;
  width: 90%;
  max-width: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DCF0F9;
  border-radius: 10px;

  @media (max-width: 767.98px) {
    height: 150px;
    width: 80%;
    max-width: 480px;
  }
}

.primary-text {
  text-align: center;
  font-size: 22px;
  color: #1939A9;

  @media (max-width: 767.98px) {
    font-size: 16px;
  }
 
}

.list-section {
  display: flex;
  margin: 50px 0 30px 0;
  padding: 10px 0;
  
}

.list-text {
  margin-left: 40px;
  font-size: 18px;
}

.list-item {
  font-size: 18px;
  width: 50px;
  height: 60px;
  margin: 0 40px 0 auto;
  color: #1939A9;
  font-weight: 600;
}

.list-point {
  background-color: #DCF0F9;
  border-radius: 10px;
 
  text-align: center;
 
}

.list-date-item {
  margin: 0 40px 0 auto;
  text-align: center;
  font-weight: 600;
}

.button {
  display: inline-block;
  text-align: center;
  cursor: pointer;

  @media (max-width: 767.98px) {
    margin: 5px;
  }
}

.modal-body {
  margin-top: 80px;

  @media (max-width: 767.98px) {
    margin-top: 120px;
  }
}

.message-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 10px;
 
}

.caution-message {
  margin-top: 10px;
  font-size: 10px;
  color: grey;
  @media (max-width: 767.98px) {
    font-size: 3px;
  }
}

.modal-button {
  margin-top: 40px;
}

.care-btn {
  color: #fff;
  background-color: #1939A9;
  font-weight: 600;
  &:hover {
      color: rgb(250, 241, 241);
    }
}

.edit-btn {
  color: #fff;
  background-color: #f54667;
  font-weight: 600;
  &:hover {
      color: rgb(250, 241, 241);
    }
}

.delete-btn {
  color: black;
  background-color:  #fabd17;
  font-weight: 600;
  &:hover {
      color: rgb(56, 55, 55);
    }
}

.done-btn {
  color: #fff;
  background-color: #f54667;
  font-weight: 600;
  width: 200px;
  &:hover {
      color: rgb(250, 241, 241);
    }
}
