.button-wrapper {
  text-align: center;
  margin-top: 50px;
}

.update-button,
.registration-button {
  width: 70%;
  color: #fff;
  background-color: #f54667;
  font-weight: 600;

  &:hover {
    color: rgb(250, 241, 241);
  }
}
