.date-container {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.all-achievement-box {
    background-color: #A2C5C6;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: normal;
    border-radius: 5px;
    height: 200px;
    padding: 20px 0 20px 0;
}

.achievement-container {
    margin-top: 20px;
}

.all-achievement-header {
    background-color: #DCF0F9;
    color: #1939A9;
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
}

.all-achievement-inner {
    width: 50%;
    padding: 30px 0 30px 0;
    margin-bottom: 20px;
    background-color: #DCF0F9;
    text-align: center;
    color: #1939A9;
    font-size: 18px;

}

.all-achievement-title {
    margin-left: 10px;
    margin-top: 20px;
}

.chiikoma-box {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.achievement-subtitle {
    margin-top: 5px;
}

.achievement-detail {
    padding-left: 30px;
    font-size: 25px;
}

.flex-box {
    display: flex;
    justify-content: center;
}

.flex_achievement-box {
    display: flex;
    justify-content: center;
}


.flex_chiikoma-item {
    height: 200px;
    padding: 20px 0 20px 0;
    width: 50%;
    background-color: #FFF2EC;
    color: #d0493b;
    margin: 5px;
}

.achievement-header {
    font-size: 30px;
    margin-left: 20px;
}

.barhart {
    border-radius: 5px;
    margin: 20px 0 20px 0;
    border: 1px solid #01414B;
    padding: 20px 0 20px 0;
}
