.card-section {
  margin-top: 30px;
}

.card-body {
  display: flex;
  border-style: solid;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 5px;
  background: #FFF2EB;
  border-color: #F58276;
}

.icon {
 color: red;
}

.card-title {
  width: 80%;
  margin-left: 8px;
}

a {
  color: #F58276;
}

.card-point {
  margin: 0 20px 0 auto;
  color: #F58276;
}

.button.is-fullwidth {
  width: 90%;
  margin-bottom: 30px;
  margin-left: 22px;
}
