.chiikomas-empty {
  margin-top: 150px;
}

.empty-sentence {
  margin-top: 10px;
}

.card-section {
  margin-top: 30px;
}

.card-body {
  display: flex;
  border-style: solid;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 5px;
  background: #FFF2EB;
  border-color: #F58276;
}

.icon {
 color: red;
}

.card-title {
  width: 80%;
  margin-left: 8px;
}

a {
  color: #F58276;
}

.card-point {
  margin: 0 20px 0 auto;
  color: #F58276;
}

.new-chiikoma-button-section {
  @media (max-width: 767.98px) {
    position: fixed;
    bottom: 6rem;
    right: 2rem;
  }
}

.button.button-add {
  @media (max-width: 767.98px) {
    font-size: 28px;
    width: 80px;
    height: 80px;
    background-color: #FFF2EB;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  width: 90%;
  margin-bottom: 30px;
  margin-left: 22px;
}
