.chiikomas-empty {
  margin-top: 150px;
}

.empty-sentence {
  margin-top: 10px;
}

.card-section {
  margin-top: 30px;
}

.card-body {
  display: flex;
  border-style: solid;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 5px;
  background: #FFF2EB;
  border-color: #F58276;
}

.icon {
 color: red;
}

.card-title {
  width: 80%;
  margin-left: 8px;
}

a {
  color: #d0493b;
}

.card-point {
  margin: 0 20px 0 auto;
  color: #d0493b;
}

.new-chiikoma-button-section {
  @media (max-width: 767.98px) {
    position: fixed;
    bottom: 6rem;
    right: 2rem;
  }
}

.button.button-add {
  @media (max-width: 767.98px) {
    font-size: 28px;
    width: 80px;
    height: 80px;
    background-color: #f54667;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  width: 90%;
  margin-bottom: 30px;
  margin-left: 22px;
  background-color: #f54667;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  align-items: center;
  display: none;
}

.modal.is_active {
  display: flex;
}

.modal_wrap {
  text-align: right;
  width: 90%;
  height: 70%;
  margin: 0 auto;
  padding: 20px;
  z-index: 10000;
  position: relative;
}

.modal_inner {
  background-color: #FFF;
  text-align: left;
  padding: 30px 30px 40px;
  border: solid;
}

h1 {
  font-size: 20px;
  margin-top: 10px;
  @media (max-width: 767.98px) {
    font-size: 15px;
  }
}

.message-body {
  background-color: #DCF0F9;
  margin-top: 20px;
  width: 80%;
  font-weight: bold;
  font-size: 30px;

  @media (max-width: 767.98px) {
    width: 80%;
    font-size: 20px;
  }
}
