.primary-section {
  margin-top: 30px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-item {
  width: 90%;
  height: 70%;
  background-color: #DCF0F9;
  border-radius: 10px;
}

.primary-text {
  text-align: center;
  font-size: 25px;
  padding-top: 60px;
  color: #1939A9;
  font-weight: bold;
}

.list-section {
  display: flex;
  margin: 10px 0 20px 0;
  padding: 20px 0 20px 0;
  font-size: 20px;
  font-weight: bold;
}

.list-text {
  margin-left: 30px;
}
.list-item {
  margin: 0 40px 0 auto;
  background-color: #DCF0F9;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  color: #1939A9;
}

.list-date-item {
  margin: 0 30px 0 auto;
  text-align: center;
}

.button{
  display:inline-block;
  background: #FFF2EB;
  padding:10px 30px;
  text-align:center;
  color: #F58276;
  margin:5px;
  border:1px solid;
  cursor:pointer;
  border-radius: 10px;
  font-weight: bold;
}

table {
  margin:auto;
  margin-bottom: 20px;
}
