// Place all the styles related to the chiikomas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.chiikoma-show {
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}
