.account-form {
  margin-top: 30px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.input {
  width: 100%;
}

#error_explanation {
  margin: 15px 0;
  padding: 10px;
  color: #B22222;
  font-weight: 600;
}

.link-item {
  text-align: center;
  color: #1939A9;
}

.login_link {
  color: #1939A9;
}

.check_box-label {
  margin-left: 5px;
}

.form-action{
  margin-top: 60px;
}

.danger-items {
  margin-top: 50px;
  margin-bottom: 40px;
  text-decoration: underline;
}
.danger-items__link {
  color: #B22222;
}

.danger-items__description{
  font-size: small;
  margin-top: 10px;
}
