.account-form {
  margin: 30px auto;
  width:  480px;
  @media (max-width: 767.98px) {
    width: 360px;
  }
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.input {
  width: 100%;
}

#error_explanation {
  margin: 15px 0;
  padding: 10px;
  color: #B22222;
  font-weight: 600;
}

.link-items__item {
  text-align: center;
}
.link-item {
  text-decoration: underline;
}

.form-item {
  text-decoration: underline;
  padding-bottom: 8px;
  font-size: 12px;
}

.login_link {
  color: #1939A9;
  text-decoration: underline
}

.check_box-label {
  margin-left: 5px;
}

.danger-items {
  margin-top: 50px;
  margin-bottom: 40px;
  text-decoration: underline;
}
.danger-items__link {
  color: #B22222;
}

.danger-items__description{
  font-size: small;
  margin-top: 10px;
}

.form-btn {
  width: 340px;
  height: 44px;
  background: 	#B22222;
  @media (max-width: 767.98px) {
    width: 260px;
  }
}

.form-action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.login-btn,
.create-btn {
  color: #fff;
  background: 	#438DC3;
  border: 1px solid 	#438DC3;
  font-weight: 500;
  &:hover {
    color: #fff;
  }
}

input[type="checkbox" i] {
  cursor: pointer; 
}
