.container {
  width: 768px;
  max-width: 100%;
  padding: 0 16px;
  margin: 0 auto;

  &.is-sm {
    width: 680px;
  }
}

.chiikoma-container {
  width: 767x;
  margin: 30px auto;
  padding: 60px 0;

}

.chiikoma-new-add-button {
  margin: 16px auto 0;
  width: 160px;
  margin-bottom: 20px;
  display: block;
  border: solid 1px #989898;
  height: 44px;
  border-radius: 4px;
}

.chiikoma-title {
  display: block;
}

.usage-container {
  background-color: #F58376;
}

.title {
  color: #fff;
  font-weight: normal;
}

.navbar-item {
  color: #CE6F63;
}

.navbar-link {
  color: #CE6F63;
}

.navbar-logo {
  margin-left: 100px;
  padding-top: 7px;
}

.navbar-start {
  margin: 0 0 0 auto;
}

.top-nav {
  background-color: #F58376;
  height: 100px;
}

.content {
  margin-bottom: 30px;
}
