<p> <%= @resource.name %>さん、こんにちは。</p>
<p>いつもご利用ありがとうございます。</p>

<p>パスワードをお忘れですか？新しいパスワードを設定しましょう</p>

<p><%= link_to 'パスワードをリセット', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワードの再設定をリクエストしていない場合、このメールは無視してください。</p>
<p>あなたのパスワードはそのまま変わりません。</p>
